.dashboard-container {
  display: flex;
  min-height: 100vh;
  background-color: #242424;
  color: #FFFFFF;
}

.dashboard-main {
  margin-left: 20%;
  width: 80%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.dashboard-content {
  flex: 1;
  padding: 32px;
}

